Repository reactjs/pt-br.react.dev, pull requests merged in 2019-05, with the labels that each got.

#210 Translation of blog post: "2018-03-29-react-v16.3.0"
  content/blog/2018-03-29-react-v-16-3.md
Labels: blog, 🌐 translated

#223 Adjusted tutorial link
  content/tutorial/tutorial.md
Labels: typo

#228 Translation adjustments
  content/docs/accessibility.md
Labels: typo

#229 Ajuste de erro de digitação no tutorial
  content/tutorial/tutorial.md
Labels: needs +1, typo

#231 correção no texto "seguinda" para "seguida"
  content/docs/state-and-lifecycle.md
Labels: typo
