Repository reactjs/pt-br.react.dev, pull requests merged in 2019-11, with the labels that each got.

#363 [UPDATE] Accent Error "expóe" to "expõe"
  content/docs/hooks-faq.md
Labels: typo

#349 Translate 2017-09-26-react-v16.0 blog page
  content/blog/2017-09-26-react-v16.0.md
Labels: blog, 🌐 translated

#352 Update 2016-01-12-discontinuing-ie8-support.md
  content/blog/2016-01-12-discontinuing-ie8-support.md
Labels: blog, 🌐 translated

#171 Traduzindo o Roadmap
  content/blog/2018-11-27-react-16-roadmap.md
Labels: blog, 🌐 translated

#364 Translate 2016-02-19-new-versioning-scheme.md
  content/blog/2016-02-19-new-versioning-scheme.md
Labels: blog, 🌐 translated

#353 Translate 2016-01-08-A-implies-B-does-not-imply-B-implies-A.md
  content/blog/2016-01-08-A-implies-B-does-not-imply-B-implies-A.md
Labels: blog, 🌐 translated

#344 Translated post react v15 rc2
  content/blog/2016-03-16-react-v15-rc2.md
Labels: blog, 🌐 translated

#357 Translate Concurrent Mode Intro
  content/docs/concurrent-mode-intro.md
Labels: docs, needs +1

#371 fix links in reference-glossary.md file
  content/docs/reference-glossary.md
Labels: typo

#372 Update conditional-rendering.md
  content/docs/conditional-rendering.md
Labels: typo

#358 Translates Suspense for Data Fetching (Experimental)
  content/docs/concurrent-mode-suspense.md
Labels: docs, needs +1

#374 Update reconciliation.md
  content/docs/reconciliation.md
Labels: typo

#368 Translate Concurrent Mode API Reference (Experimental)
  content/docs/concurrent-mode-reference.md
Labels: docs, 🌐 translated

#360 Translate Concurrent UI Patterns
  content/docs/concurrent-mode-patterns.md
Labels: docs, needs author response
