Repository reactjs/pt-br.react.dev, pull requests merged in 2019-02, with the labels that each got.

#3 Translation of the "Handling Events" page
  content/docs/handling-events.md
Labels: waiting for reviewers

#8 Translation of the "JS Environment Requirements " page
  content/docs/reference-javascript-environment-requirements.md
Labels: waiting for reviewers

#9 Translation of the "AJAX and APIs" page
  content/docs/faq-ajax.md
Labels: waiting for reviewers

#12 Translation of the "Babel, JSX, and Build Steps" page
  content/docs/faq-build.md
Labels: waiting for reviewers

#20 Translate babel error message and source code comments
  src/components/CodeEditor/CodeEditor.js
Labels: waiting for reviewers

#19 Translate page dont-call-proptypes.md
  content/warnings/dont-call-proptypes.md
Labels: waiting for reviewers

#21 Translating the document "cdn-links.md" to PT-BR
  content/docs/cdn-links.md
Labels: reviewers/on hold

#24 Add pt-BR translation to the invalid-aria-prop page
  content/warnings/invalid-aria-prop.md
Labels: needs +1

#10 ReactDOMServer page
  content/docs/reference-react-dom-server.md
Labels: needs +1

#27 Translate Web Components page
  content/docs/web-components.md
Labels: needs +1, needs review

#30 Translate CodeExample.js
  src/components/CodeExample/CodeExample.js
Labels: needs +1, needs review

#29 Translate ErrorDecoder to pt-BR
  content/docs/error-decoder.md
  src/components/ErrorDecoder/ErrorDecoder.js
Labels: needs +1, needs review

#7 Lists and Keys page translation
  content/docs/lists-and-keys.md
  content/docs/nav.yml
Labels: needs resolution

#35 Adjusting translation as discussed
  content/docs/reference-react-dom-server.md
Labels: follow-up, needs +1

#18 Translate Create a new React App page
  content/docs/create-a-new-react-app.md
Labels: needs author response

#28 Special props translation
  content/warnings/special-props.md
Labels: needs +1

#37 Translate `FAQ > File Structure` page to pt-BR
  content/docs/faq-structure.md
Labels: needs author response

#17 Translate Typechecking with Proptypes page
  content/docs/typechecking-with-proptypes.md
Labels: needs author response

#23 Translate Components and Props
  content/docs/components-and-props.md
Labels: needs +1

#25 Translate strict-mode.md to pt-BR
  content/docs/strict-mode.md
Labels: needs +1

#32 Translate Shallow renderer
  content/docs/addons-shallow-renderer.md
Labels: needs +1

#49 Translate Rendering Elements
  content/docs/rendering-elements.md
Labels: needs +1

#58 Fix some link translations in initial PR's
  content/docs/faq-ajax.md
  content/docs/faq-build.md
  content/docs/lists-and-keys.md
  content/docs/web-components.md
Labels: follow-up

#53 translate controlled-components
  content/docs/uncontrolled-components.md
Labels: 🌐 translated

#36 Translate Styling and CSS to pt-BR
  content/docs/faq-styling.md
  content/docs/nav.yml
Labels: needs +1

#44 Translated unknown-prop page to PT-BR.
  content/warnings/unknown-prop.md
Labels: needs +1

#31 Translate React API Reference
  content/docs/reference-react.md
Labels: needs +1

#62 Adiciona browser ao glossario
  GLOSSARY.md
Labels: needs +1

#54 Translate: Add React to a Website
  content/docs/add-react-to-a-website.md
Labels: needs author response

#56 Translate React without JSX
  content/docs/react-without-jsx.md
Labels: needs +1

#47 Translate introducing jsx
  content/docs/introducing-jsx.md
Labels: changes already resolved - waiting for reviewers

#33 Translate Tutorial 1 of 2
  content/tutorial/tutorial.md
Labels: changes already resolved - waiting for reviewers

#69 Restore translated internal links
  content/docs/add-react-to-a-website.md
  content/docs/handling-events.md
Labels: follow-up

#22 translate SyntheticEvent
  content/docs/reference-events.md
Labels: needs +1

#13 Translate Fragments
  content/docs/fragments.md
Labels: changes already resolved - waiting for reviewers, needs +1

#39 Translate state and lifecycle page
  content/docs/state-and-lifecycle.md
Labels: changes already resolved - waiting for reviewers, needs +1

#43 codebase-overview translate
  content/docs/codebase-overview.md
Labels: needs +1

#48 ReactDOM page translation
  content/docs/reference-react-dom.md
Labels: 🌐 translated

#78 Building Your Own Hooks page translation
  content/docs/hooks-custom.md
  content/docs/nav.yml
Labels: 🌐 translated

#57 Translate Hello World
  content/docs/hello-world.md
Labels: changes already resolved - waiting for reviewers

#84 Translate LayoutFooter to pt-BR
  src/components/LayoutFooter/Footer.js
Labels: needs review

#88 Translate Legacy Factories warning
  content/warnings/legacy-factories.md
Labels: 🌐 translated

#89 Translate LayoutHeader Component
  src/components/LayoutHeader/DocSearch.js
  src/components/LayoutHeader/Header.js
  src/components/LayoutHeader/SearchSvg.js
Labels: 🌐 translated

#73 Translate Error Boundaries
  content/docs/error-boundaries.md
Labels: 🌐 translated

#55 Translation: Context
  content/docs/context.md
  examples/context/motivation-problem.js
  examples/context/motivation-solution.js
  examples/context/multiple-contexts.js
  examples/context/theme-detailed-app.js
Labels: 🌐 translated

#85 Add the term release to glossary
  GLOSSARY.md
Labels: :book: glossary | style-guide

#87 Add function and class component
  GLOSSARY.md
Labels: :book: glossary | style-guide

#51 Conditional Rendering translation
  content/docs/conditional-rendering.md
Labels: changes already resolved - waiting for reviewers

#63 Translate: Api Reference Glossary
  content/docs/reference-glossary.md
Labels: needs +1

#81 Translate Test Utilities
  content/docs/addons-test-utils.md
Labels: needs +1, needs review

#64 Translation of Fowarding Refs Page
  content/docs/forwarding-refs.md
  examples/forwarding-refs/customized-display-name.js
  examples/forwarding-refs/fancy-button-ref.js
  examples/forwarding-refs/fancy-button-simple-ref.js
  examples/forwarding-refs/fancy-button.js
  examples/forwarding-refs/log-props-after.js
  examples/forwarding-refs/log-props-before.js
Labels: 🌐 translated

#92 Add subscription to glossary
  GLOSSARY.md
Labels: :book: glossary | style-guide

#45 Translate DOM Elements
  content/docs/reference-dom-elements.md
Labels: 🌐 translated

#91 Follow-up ReactDOM page
  content/docs/reference-react-dom.md
Labels: follow-up, needs author response

#50 Adding terms to Glossary
  GLOSSARY.md
Labels: :book: glossary | style-guide

#86 Add event listener and event handler to glossary
  GLOSSARY.md
Labels: :book: glossary | style-guide

#52 Translates Invalid hook call warning
  content/warnings/invalid-hook-call-warning.md
Labels: needs +1

#94 Translate Render Props
  content/docs/render-props.md
Labels: feedback addressed

#74 Adding PT-BR to Accessibility page
  content/docs/accessibility.md
Labels: 🌐 translated

#76 Rules / Hooks reference
  content/docs/hooks-reference.md
Labels: 🌐 translated

#11 Hooks / Rules of Hooks
  content/docs/hooks-rules.md
Labels: 🌐 translated

#98 Follow up reference-react-dom
  content/docs/reference-react-dom.md
Labels: follow-up

#77 Translate Higher-Order Components
  content/docs/higher-order-components.md
Labels: needs +1

#83 Translate Thinking in React
  content/docs/thinking-in-react.md
Labels: needs +1

#82 Translate Integrating With Other Libraries
  content/docs/integrating-with-other-libraries.md
  content/docs/nav.yml
Labels: 🌐 translated

#97 Translate Portals to pt-BR
  content/docs/portals.md
Labels: 🌐 translated

#68 Translate Tutorial 2 of 2
  content/tutorial/tutorial.md
Labels: needs +1, 💪 long page - more than 100 lines

#96 Translate Lifting State Up
  content/docs/lifting-state-up.md
Labels: feedback addressed

#40 Translating the refs-and-the-dom page
  content/docs/refs-and-the-dom.md
  src/components/CodeEditor/CodeEditor.js
  src/components/ErrorDecoder/ErrorDecoder.js
Labels: needs author response

#41 Translate reconciliation
  content/docs/reconciliation.md
Labels: feedback addressed

#80 Translate Hooks Overview
  content/docs/hooks-overview.md
  content/docs/nav.yml
Labels: needs +1, needs author response, 💪 long page - more than 100 lines

#16 Translate Passing Functions to Components
  content/docs/faq-functions.md
Labels: feedback addressed, needs author response

#72 Translate Introducing Hooks
  content/docs/hooks-intro.md
Labels: needs author response

#99 Glossary add terms: siblings, DOM node, handler
  GLOSSARY.md
Labels: :book: glossary | style-guide, feedback addressed, question

#60 Translate Design Principles
  content/docs/design-principles.md
Labels: needs author response

#107 Add string literal to untranslated terms
  GLOSSARY.md
Labels: :book: glossary | style-guide, needs +1

#121 Standardizes hooks pages introduction
  content/docs/hooks-custom.md
  content/docs/hooks-intro.md
  content/docs/hooks-reference.md
  content/docs/hooks-rules.md
Labels: needs review

#124 Changes references from 'reactjs.org' to 'pt-br.reactjs.org'
  gatsby-config.js
  package.json
  src/components/MarkdownPage/MarkdownPage.js
  src/html.js
  src/site-constants.js
Labels: needs +1

#125 Improve translation - Home Page
  src/pages/index.js
Labels: needs review

#110 Translate Optimizing Performance
  content/docs/optimizing-performance.md
Labels: needs author response, 💪 long page - more than 100 lines
