Repository reactjs/pt-br.react.dev, pull requests merged in 2019-10, with the labels that each got.

#331 Update 2019-08-15-new-react-devtools.md
  content/blog/2019-08-15-new-react-devtools.md
Labels: blog, 🌐 translated

#340 Correção de texto
  content/tutorial/tutorial.md
Labels: typo

#337 Translating testing-environments docs
  content/docs/testing-environments.md
Labels: docs, 🌐 translated

#339 translated podcasts doc
  content/community/podcasts.md
Labels: docs, 🌐 translated

#341 Translated videos doc
  content/community/videos.md
Labels: docs, 🌐 translated

#208 Translation of blog post: "2018-03-27-update-on-async-rendering"
  content/blog/2018-03-27-update-on-async-rendering.md
Labels: blog, 🌐 translated

#342 Translated external resources doc
  content/community/external-resources.md
Labels: docs, 🌐 translated

#343 Translated Post React 0.14
  content/blog/2016-03-29-react-v0.14.8.md
Labels: blog, 🌐 translated

#334 Traduzindo testing-recipes.md
  content/docs/testing-recipes.md
Labels: docs, 🌐 translated

#348 Correção texto
  content/tutorial/tutorial.md
Labels: typo

#359 Review optimization page
  content/docs/optimizing-performance.md
Labels: typo
