Repository reactjs/pt-br.react.dev, pull requests merged in 2019-12, with the labels that each got.

#376 Translate Concurrent mode adoption
  content/docs/concurrent-mode-adoption.md
Labels: docs, needs author response

#377 correção no termo "algoritmo"
  content/docs/hooks-reference.md
Labels: typo

#367 Translate Release Channels
  content/docs/release-channels.md
Labels: docs, 🌐 translated

#355 Translate 2016 04 07 react v15
  content/blog/2016-04-07-react-v15.md
Labels: blog, 🌐 translated

#380 Correção de 'sará' para 'será'
  content/docs/reference-react.md
Labels: typo

#382 Atualização de link errado
  content/docs/typechecking-with-proptypes.md
Labels: typo

#385 Correct idention of code comments
  content/docs/faq-functions.md
Labels: typo

#379 Translate the blog post React v15.0.1
  content/blog/2016-04-08-react-v15.0.1.md
Labels: blog, 🌐 translated

#386 Translating community-team
  content/community/team.md
Labels: docs, 🌐 translated
