Repository reactjs/pt-br.react.dev, pull requests merged in 2019-04, with the labels that each got.

#195 Update hooks-effect.md
  content/docs/hooks-effect.md
Labels: fix

#187 Translation of Fragment Support
  content/blog/2017-11-28-react-v16.2.0-fragment-support.md
Labels: blog, 🌐 translated

#189 Translation react blog 2017-12-07 Introducing the react RFC process.
  content/blog/2017-12-07-introducing-the-react-rfc-process.md
Labels: blog, 🌐 translated

#183 Translate blog you-probably-dont-need-derived-state
  content/blog/2018-06-07-you-probably-dont-need-derived-state.md
Labels: blog, 🌐 translated

#190 Translate Sneak Peek Beyond React 16
  content/blog/2018-03-01-sneak-peek-beyond-react-16.md
Labels: blog, needs author response

#194 Update hello-world.md
  content/docs/hello-world.md
Labels: fix, needs review

#179 Translated React v16.6.0: lazy, memo and contextType
  content/blog/2018-10-23-react-v-16-6.md
Labels: blog, 🌐 translated

#200 Translate of react blog post react v15.6.2
  content/blog/2017-09-25-react-v15.6.2.md
Labels: blog, 🌐 translated

#201 Translation of Error Handling in React 16
  content/blog/2017-07-26-error-handling-in-react-16.md
Labels: blog, needs author response

#203 Translation of blog post: "2017-06-13-react-v15.6.0"
  content/blog/2017-06-13-react-v15.6.0.md
Labels: blog, needs author response

#206 Adjusting docs: "Api Reference - React.Component"
  content/docs/reference-react-component.md
Labels: fix

#202 Translate 'Create App with No Configuration'
  content/blog/2016-07-22-create-apps-with-no-configuration.md
Labels: blog, 🌐 translated

#181 Translation of blog post: "2018-05-23-react-v-16-4"
  content/blog/2018-05-23-react-v-16-4.md
Labels: blog, needs author response

#209 Tradução do Blog post 2017 04 07 react v15.5.0.md
  content/blog/2017-04-07-react-v15.5.0.md
Labels: blog, 🌐 translated

#213 Update tutorial.md
  content/tutorial/tutorial.md
Labels: fix

#215 Update components-and-props.md
  content/docs/components-and-props.md
Labels: fix

#217 Traduzido os add-ons
  content/docs/addons.md
Labels: 🌐 translated
