Repository reactjs/pt-br.react.dev, pull requests merged in 2019-09, with the labels that each got.

#308 translate reference-profiler.md
  content/docs/reference-profiler.md
Labels: needs +1

#312 Translation of blog post "2015-02-20-introducing-relay-and-graphql"
  content/blog/2015-02-20-introducing-relay-and-graphql.md
Labels: blog, 🌐 translated

#315 Remove unnecessary commas
  content/docs/error-boundaries.md
Labels: follow-up, typo

#318 Fix typo: javascript -> JavaScript
  content/community/examples.md
  content/community/tools-model-mgmt.md
  content/docs/addons-test-utils.md
  content/docs/faq-functions.md
  content/docs/faq-state.md
  content/docs/faq-styling.md
  content/docs/forms.md
  content/docs/hello-world.md
  content/docs/hooks-rules.md
  content/docs/jsx-in-depth.md
  content/docs/react-without-es6.md
  content/docs/reference-glossary.md
  content/docs/static-type-checking.md
  content/tutorial/tutorial.md
Labels: typo

#321 Translate testing doc page
  content/docs/testing.md
Labels: 🌐 translated

#317 Translation of blog post: "2019-08-08-react-v16.9.0"
  content/blog/2019-08-08-react-v16.9.0.md
Labels: blog, 🌐 translated

#242 Translation of blog post: "2016-09-28-our-first-50000-stars"
  content/blog/2016-09-28-our-first-50000-stars.md
Labels: blog, 🌐 translated

#328 Update state-and-lifecycle.md
  content/docs/state-and-lifecycle.md
Labels: typo

#329 Update hooks-reference.md
  content/docs/hooks-reference.md
Labels: typo
