Repository reactjs/pt-br.react.dev, pull requests merged in 2019-03, with the labels that each got.

#131 Tradução da navbar de algumas paginas que já estão na produção
  content/docs/nav.yml
Labels: feedback addressed

#116 Translation of Reference test renderer
  content/docs/reference-test-renderer.md
Labels: 🌐 translated

#95 React without ES6
  content/docs/react-without-es6.md
Labels: feedback addressed, needs +1

#115 Feat/hooks faq translation
  content/docs/hooks-faq.md
Labels: needs author response, 💪 long page - more than 100 lines

#126 Translate getting started
  content/docs/getting-started.md
Labels: needs +1

#117 Effect Hook page
  content/docs/hooks-effect.md
  content/docs/nav.yml
Labels: needs +1, 💪 long page - more than 100 lines

#138 How to contribute
  content/docs/how-to-contribute.md
Labels: follow-up, needs author response

#106 Community tools
  content/community/tools-comp-workbenches.md
  content/community/tools-data-fetching.md
  content/community/tools-debugging.md
  content/community/tools-jsx.md
  content/community/tools-misc.md
  content/community/tools-model-mgmt.md
  content/community/tools-routing.md
  content/community/tools-starter-kits.md
  content/community/tools-testing.md
  content/community/tools-ui-components.md
  content/warnings/unknown-prop.md
Labels: needs +1

#108 Translation for Using the State Hook
  content/docs/hooks-state.md
Labels: needs +1

#140 Translate code-splitting page
  content/docs/code-splitting.md
Labels: needs +1

#135 Ajuste do Menu e tradução dos menus laterais
  content/community/nav.yml
  content/docs/nav.yml
  src/components/LayoutHeader/Header.js
  src/templates/components/NavigationFooter/NavigationFooter.js
Labels: 🌐 translated

#100 Translation of Forms page
  content/docs/forms.md
Labels: needs +1

#145 Translate some texts in several pages
  src/components/MarkdownPage/MarkdownPage.js
  src/pages/404.js
  src/pages/acknowledgements.html.js
  src/pages/blog/all.html.js
  src/pages/index.js
  src/pages/jsx-compiler.html.js
  src/pages/languages.js
  src/pages/versions.js
  src/templates/blog.js
  src/templates/codepen-example.js
Labels: needs +1

#147 Ajuste no menu lateral da documentação
  content/docs/nav.yml
Labels: needs review

#149 palavra sem plural
  content/docs/portals.md
Labels: needs +1

#142 [Tutorials] - Line 347 -> 607
  content/tutorial/tutorial.md
Labels: needs author response

#146 Translating Implementation Notes
  content/docs/implementation-notes.md
Labels: feedback addressed, 💪 long page - more than 100 lines

#105 Translate jsx-in-depth to pt-BR
  content/docs/jsx-in-depth.md
Labels: needs +1

#148 Versioning policy
  content/docs/faq-versioning.md
Labels: needs +1

#109 [WIP] Translate Glossary
  GLOSSARY.md
Labels: :book: glossary | style-guide, help wanted, needs author response, work in progress

#154 Add Universal Style Guide translation
  GLOSSARY.md
Labels: :book: glossary | style-guide

#152 Traduzido a página Community/Support (Comunidade/Suporte)
  content/community/support.md
Labels: needs author response

#130 Translating reference-react-component
  content/docs/reference-react-component.md
Labels: needs author response

#158 Translated Community/Courses;
  content/community/courses.md
Labels: question, 🌐 translated

#167 Resolvendo tradução de página 404
  content/404.md
Labels: 🌐 translated

#161 Navegação do Tutorial
  content/tutorial/nav.yml
  content/tutorial/tutorial.md
Labels: 🌐 translated

#103 Translate static type checking
  content/docs/static-type-checking.md
Labels: needs author response, 💪 long page - more than 100 lines

#164 Translated "Community/Examples";
  content/community/examples.md
Labels: 🌐 translated

#168 Traduzindo metadados
  src/components/MarkdownPage/MarkdownPage.js
  src/templates/blog.js
Labels: 🌐 translated

#165 Translate React Conf Recap.
  content/blog/2018-11-13-react-conf-recap.md
Labels: blog, 🌐 translated

#162 The one with hooks
  content/blog/2019-02-06-react-v16.8.0.md
Labels: blog, needs author response

#169 Translated "Community/Meetups";
  content/community/meetups.md
Labels: needs author response

#159 DOM Virtual e Objetos Internos
  content/docs/faq-internals.md
  content/docs/nav.yml
Labels: needs author response

#155 Initial work on "Is React Translated Yet" blog post translation
  content/blog/2019-02-23-is-react-translated-yet.md
Labels: blog, needs +1

#156 Translated react v16.7 post
  content/blog/2018-12-19-react-v-16-7.md
Labels: blog, needs author response

#176 Translated "Community/Conferences";
  content/community/conferences.md
Labels: needs author response

#166 Translation for Create React App v2 post
  content/blog/2018-10-01-create-react-app-v2.md
Labels: blog, 🌐 translated

#184 Translated "Community/Articles";
  content/community/articles.md
Labels: needs review

#177 Translate for React v16.4.2 blog post
  content/blog/2018-08-01-react-v-16-4-2.md
Labels: blog, 🌐 translated
