Repository reactjs/pt-br.react.dev, pull requests merged in 2020-06, with the labels that each got.

#422 Try to fix build
  .nvmrc
Labels: upstream patch

#421 Just a little word not translated
  content/docs/reference-glossary.md
Labels: typo

#430 Fix translation error
  content/docs/getting-started.md
Labels: typo

#427 Translation 2016-07-11-introducing-reacts-error-code-system
  content/blog/2016-07-11-introducing-reacts-error-code-system.md
Labels: blog, 🌐 translated

#426 Translation of article 2016-11-16-react-v15.4.0
  content/blog/2016-11-16-react-v15.4.0.md
Labels: blog, 🌐 translated

#425 Translation mixins considered harmful
  content/blog/2016-07-13-mixins-considered-harmful.md
Labels: blog, 🌐 translated
