Repository reactjs/pt-br.react.dev, pull requests merged in 2020-01, with the labels that each got.

#388 Update hooks-reference.md
  content/docs/hooks-reference.md
Labels: typo

#392 [Fix] Correct verb conjugation
  content/docs/hooks-effect.md
Labels: typo

#294 Translate 2017-05-18-whats-new-in-create-react-app
  content/blog/2017-05-18-whats-new-in-create-react-app.md
Labels: blog, needs review

#390 Translation of blog post: "2019-11-06-building-great-user-experiences-with-concurrent-mode-and-suspense"
  content/blog/2019-11-06-building-great-user-experiences-with-concurrent-mode-and-suspense.md
Labels: blog, 🌐 translated

#395 Fix wrong pontuation: comma where it should be full stop
  content/docs/thinking-in-react.md
Labels: typo
