Repository reactjs/pt-br.react.dev, pull requests merged in 2020-03, with the labels that each got.

#406 Translating a small text in Hooks References page
  content/docs/hooks-reference.md
Labels: typo, 🌐 translated

#405 Translated post react-v16.13.0
  content/blog/2020-02-26-react-v16.13.0.md
Labels: blog, needs +1

#347 Translation of blog post: "2016-03-07-react-v15-rc1"
  content/blog/2016-03-07-react-v15-rc1.md
Labels: blog, 🌐 translated

#408 found this typo
  content/docs/accessibility.md
Labels: typo
