Repository reactjs/pt-br.react.dev, pull requests merged in 2020-11, with the labels that each got.

#468 Translation of post react17
  content/blog/2020-10-20-react-v17.md
Labels: blog, hacktoberfest-accepted, needs +1

#467 Translate legacy event pooling
  content/docs/legacy-event-pooling.md
Labels: docs, hacktoberfest-accepted, needs review

#462 translate introducing-the-new-jsx-transform
  content/blog/2020-09-22-introducing-the-new-jsx-transform.md
Labels: blog, hacktoberfest-accepted, needs review
