Repository reactjs/pt-br.react.dev, pull requests merged in 2021-08, with the labels that each got.

#536 Sync with reactjs.org @ 95e15d06
  content/blog/2017-11-28-react-v16.2.0-fragment-support.md
  content/blog/2017-12-07-introducing-the-react-rfc-process.md
  content/blog/2017-12-15-improving-the-repository-infrastructure.md
  content/blog/2018-10-01-create-react-app-v2.md
  content/blog/2019-02-23-is-react-translated-yet.md
  content/blog/2019-10-22-react-release-channels.md
  content/blog/2019-11-06-building-great-user-experiences-with-concurrent-mode-and-suspense.md
  content/blog/2020-09-22-introducing-the-new-jsx-transform.md
  content/docs/add-react-to-a-website.md
  content/docs/design-principles.md
  content/docs/higher-order-components.md
  content/docs/hooks-faq.md
  content/docs/hooks-intro.md
  content/docs/reference-react.md
  content/docs/static-type-checking.md
  content/docs/typechecking-with-proptypes.md
  content/tutorial/tutorial.md
  src/components/MarkdownPage/MarkdownPage.js
  yarn.lock
Labels: 🤖 upstream update

#534 fix: fix typo in dangerouslySetInnerHTML section for pt-Br.
  content/docs/reference-dom-elements.md
Labels: typo

#537 Fixed typo
  content/docs/hooks-reference.md
Labels: typo

#535 Add post translation The Plan for React 18
  content/blog/2021-06-08-the-plan-for-react-18.md
Labels: 🌐 translated, blog
