Repository reactjs/pt-br.react.dev, pull requests merged in 2021-01, with the labels that each got.

#478 Translation of data fetching with react server components
  content/blog/2020-12-21-data-fetching-with-react-server-components.md
Labels: blog, 🌐 translated

#480 DOM attributes in react 16 [continuation]
  content/blog/2017-09-08-dom-attributes-in-react-16.md
Labels: blog, needs review

#483 Update code-splitting.md
  content/docs/code-splitting.md
Labels: typo
