Repository reactjs/pt-br.react.dev, pull requests merged in 2022-02, with the labels that each got.

#571 docs(pt-br): translate pages/community/acknowledgements.md to pt-br
  beta/src/pages/community/acknowledgements.md
Labels: 🌐 translated, beta

#573 docs(pt-br): translate installation page
  beta/src/pages/learn/installation.md
Labels: needs +1, beta

#579 Grammatical fixes in the Hooks section
  .gitignore
  content/docs/hooks-custom.md
  content/docs/hooks-effect.md
  content/docs/hooks-intro.md
  content/docs/hooks-overview.md
  content/docs/hooks-reference.md
  content/docs/hooks-rules.md
  content/docs/hooks-state.md
Labels: typo
