Repository reactjs/pt-br.react.dev, pull requests merged in 2022-03, with the labels that each got.

#582 Accessibility and Add-ons grammatical fixes
  content/docs/accessibility.md
  content/docs/add-react-to-a-website.md
  content/docs/addons-animation.md
  content/docs/addons-create-fragment.md
  content/docs/addons-perf.md
  content/docs/addons-pure-render-mixin.md
  content/docs/addons-shallow-compare.md
  content/docs/addons-two-way-binding-helpers.md
  content/docs/addons-update.md
  content/docs/addons.md
  content/docs/hello-world.md
Labels: typo

#578 translating pages/reference/render.md to pt-br
  beta/src/pages/apis/render.md
Labels: 🌐 translated, beta

#583 Grammatical fixes
  content/docs/code-splitting.md
  content/docs/codebase-overview.md
  content/docs/components-and-props.md
  content/docs/composition-vs-inheritance.md
  content/docs/concurrent-mode-adoption.md
  content/docs/concurrent-mode-intro.md
  content/docs/concurrent-mode-patterns.md
  content/docs/concurrent-mode-reference.md
  content/docs/concurrent-mode-suspense.md
  content/docs/context.md
  content/docs/create-a-new-react-app.md
Labels: needs author response
