Repository reactjs/pt-br.react.dev, pull requests merged in 2023-04, with the labels that each got.

#658 Translate Importing and Exporting Components page
  src/content/learn/importing-and-exporting-components.md
Labels: 🌐 translated

#660 Translation of the describing-the-ui page
  src/content/learn/describing-the-ui.md
Labels: 🌐 translated

#661 Tradução da página `installation.md`
  src/content/learn/installation.md
Labels: 🌐 translated

#655 Translate React website Home page
  src/components/Layout/HomeContent.js
Labels: needs review

#662 Tradução da página `start-a-new-react-project.md`
  src/content/learn/start-a-new-react-project.md
Labels: 🌐 translated

#636 docs(pt-br): translate reactdom page
  src/content/reference/react-dom/index.md
Labels: 🌐 translated

#667 docs(pt-br): translate react-apis and createContext page
  src/content/reference/react/apis.md
  src/content/reference/react/createContext.md
Labels: needs author response

#669 Translate your-first-component page
  src/content/learn/your-first-component.md
Labels: 🌐 translated

#664 translate `escape-hatches.md` to pt-BR
  src/content/learn/escape-hatches.md
Labels: 🌐 translated

#659 Translate add-react-to-an-existing-project
  src/content/learn/add-react-to-an-existing-project.md
Labels: 🌐 translated
